.nav {
  border: 0.025rem solid #ccc;
}
.nav ul {
  width: 100%;
  position: relative;
}
.nav ul li {
  float: left;
  font-size: 0.75rem;
  height: 1.875rem;
  line-height: 1.875rem;
}
.nav ul li a {
  display: block;
  text-align: center;
}
.nav ul li:last-of-type {
  position: absolute;
  right: 3.375rem;
}
.nav ul li:last-of-type a {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 1.4rem;
  line-height: 1.4rem;
  width: 3.125rem;
  border-radius: 0.3rem;
  background-color: #E0E0E0;
}
.detail {
  text-align: center;
  background-color: #fff;
  height: 12.625rem;
  position: relative;
}
.detail h3 {
  font-size: 0.85rem;
  height: 1rem;
}
.detail img {
  width: 8.8rem;
  height: 5.875rem;
  display: block;
  position: absolute;
  bottom: 2.5rem;
  left: 50%;
  transform: translateX(-50%);
}
.canshu {
  margin: 0;
}
.canshu a {
  background-color: #FFC833;
  border-top: 0.025rem solid red;
  border-bottom: 0.025rem solid red;
  border-right: 0.025rem solid red;
  color: white;
  font-size: 0.75rem;
}
.canshu a.now {
  background-color: #FF9711;
}
.canshu a:last-of-type {
  border-right: none;
}
.canshu a:last-of-type:before {
  content: none;
}
.table {
  text-align: right;
  height: 2.2rem;
  line-height: 2.2rem;
  background-color: #fff;
}
.table table td {
  font-size: 0.8rem;
}
.table table td.p_pic {
  width: 1.5rem;
  position: relative;
}
.table table td.p_pic img {
  width: 0.8rem;
  height: 0.8rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%);
}
.table table td.red {
  color: red;
  font-size: 0.8rem;
}
.table table td span {
  width: 2.875rem !important;
  height: 0.925rem !important;
  background-color: #FF5600;
  color: white;
  display: block  !important;
  line-height: 0.925rem !important;
  font-size: 0.8rem;
}
.tips {
  height: 3rem;
  padding: 0.375rem;
  line-height: 1.125rem;
  background-color: #fff;
  border-top: 0.05rem solid #ccc;
  border-bottom: 0.075rem solid #999;
  color: #999;
  font-size: 0.6rem;
}
.feedbacks h4 {
  height: 1.75rem;
  background-color: #DBDBDB;
  font-size: 0.6rem;
  line-height: 1.75rem;
  text-align: center;
}
.feedbacks .item {
  padding: 0.5rem;
  font-size: 0.6rem;
  color: #999;
  background-color: #fff;
  border-bottom: 0.025rem solid #ccc;
}
.feedbacks .item .detail_info {
  color: #333;
}
.index_morediscount {
  background-color: #fff;
  height: 3.65rem;
  font-size: 0.65rem;
  position: relative;
}
.index_morediscount .morediscount {
  height: 1.65rem;
  width: 90%;
  line-height: 1.65rem;
  position: absolute;
  text-align: center;
  left: 5%;
  top: 50%;
  transform: translateY(-50%);
  border: 0.025rem solid #ccc;
  border-radius: 0.25rem;
  background-color: #eee;
}
