@charset 'utf-8';
nav {
  width: 100%;
  background-color: #fff;
  margin-bottom: 0.25rem;
}
nav ul {
  width: 100%;
}
nav ul li {
  width: 25%;
  float: left;
  margin-top: 1rem;
}
nav ul li:nth-of-type(n+9) {
  display: none;
}
nav ul li a {
  text-align: center;
  display: block;
}
nav ul li a img {
  width: 3.5rem;
  height: 3.5rem;
}
nav ul li a p {
  font-size: 0.7rem;
  color: #333;
  height: 1.2rem;
  line-height: 1.2rem;
}
.discount,
.rank {
  height: 1.75rem;
  width: 100%;
  background-color: #FFA22A;
  margin-top: 0.5rem;
}
.discount p,
.rank p {
  font-size: 0.9rem;
  line-height: 1.75rem;
  height: 1.75rem;
  padding-left: 0.5rem;
  color: #fff;
}
.discount p a,
.rank p a {
  height: 1.75rem;
  width: 1.75rem;
  padding-top: 0.375rem;
  display: block;
  float: right;
  padding-left: 0.5rem;
}
.discount p a img,
.rank p a img {
  display: block;
  width: 1rem;
  height: 1rem;
  vertical-align: middle;
}
.rank {
  margin-bottom: 1.25rem;
}
.index_morediscount {
  background-color: #fff;
  height: 2.2rem;
  font-size: 0.65rem;
  position: relative;
}
.index_morediscount .morediscount {
  height: 1.65rem;
  width: 90%;
  line-height: 1.65rem;
  position: absolute;
  text-align: center;
  left: 5%;
  bottom: 0px;
  border: 0.025rem solid #ccc;
  border-radius: 0.25rem;
}
